<template>
  <nav>
    <div class="container">
      <h1>#ConnectUs Online Store</h1>
      <ul>
        <li><a href="">お気に入り</a></li>
        <li><a href="">カート</a></li>
        <li><a href="">ログイン</a></li>
      </ul>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 97px;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    margin-right: auto;
    padding: 0px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;

    li {
      a {
        color: #252525;
        display: block;
        text-decoration: none;
        padding: 16px 24px;
      }

      &:last-child a {
        padding-right: 0px;
      }
    }
  }
}
</style>

<script>
export default {
  name: 'TheNavbar'
}
</script>