<template>
  <div id="app">
    <the-navbar />
    <div class="container">
      <p class="bread">アクセサリ > イヤリング > Bouquet de roses</p>
      <div id="content">
        <div id="img">
          <img src="/images/item.jpg" alt="">
        </div>
        <div id="item">
          <h1 @click="isSoldMode = !isSoldMode">{{ itemName }}</h1>
          <p class="price">1,000円</p>
          <p class="lead">愛情、美、幸福、感謝</p>
          <p class="description">
            ～クリエイターの説明～<br>
            赤い薔薇とピンクの薔薇を組み合わせたブーケのパーツとしずく型のガラス<br>
            のパーツを用いて可愛いらしさを残しながら上品に仕上げました。
          </p>
          <p class="favoriteCounter">12人が気になっています！</p>
          <p class="left">
            <template>数量限定： 残り{{ amountOfItem }}個</template>
          </p>
          <div class="buttonGroup">
            <template v-if="isSoldOut">
              <button class="sold">売り切れ</button>
            </template>
            <template v-else-if="isSoldMode === false && isBuyButtonClicked">
              <button class="bought">購入済み！</button>
            </template>
            <template v-else-if="isSoldOut === false">
              <button @click="buyItem" class="buy">
                <div class="text">
                  <span class="paypal">PayPal</span>
                  今すぐ購入する
                </div>
              </button>
            </template>
            <button class="favorite">♡ お気に入り登録</button>
          </div>
          <div v-if="isBuyButtonClicked">
            <p @click="showModal" class="writeReviewText">レビューを書いてみませんか？</p>
          </div>
        </div>
      </div>
      <div id="review">
        <div class="head">
          <h2>レビュー</h2>
          <p>{{ amountOfReview }}件の評価</p>
        </div>
        <div class="cards">
          <div v-for="(review, index) in latest3reviews" :key="index" class="card" :class="[review.flag ? 'ownReview' : '']">
            <div class="head">
              <img class="icon" :src="'/images/' + review.userIcon" alt="">
              <p class="user" :class="[review.flag ? 'ownReview' : '']">{{ review.userName }}</p>
              <p class="evaluation">評価： 星5つ</p>
            </div>
            <div class="review">
              <p v-html="review.text" ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="isModalVisible === true" id="modal">
      <div class="overlay"></div>
      <div class="modalWindow">
        <p class="header">
          <span class="closeIcon">+</span>
          <span class="headerTitle">レビューを書く</span>
          <span class="progressBar" :class="[isPosting ? 'active' : '']"></span>
        </p>
        <div class="body">
          <img src="/images/icon4.jpg" alt="">
          <textarea v-model="reviewText" placeholder="商品はいかがでしたか？"></textarea>
        </div>
        <div class="actions">
          <button @click="postReview">投稿する</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheNavbar from './components/TheNavbar.vue'
import './scss/style.scss'
import './scss/base.scss'
import './scss/modal.scss'

export default {
  name: 'App',
  components: {
    TheNavbar
  },
  data(){
    return {
      isBuyButtonClicked: false,
      isSoldOut: false,
      isModalVisible: false,
      isSoldMode: false,
      isPosting: false,
      amountOfItem: 15,
      amountOfReview: 3,
      // reviewText: `今日届きました。とても素敵なペンダントでした。写真の通り可愛くていろいろな服と合わせて使うことができそうです。ありがとうございます。`,
      reviewsText: ``,
      reviews: [
        {
          flag: false,
          userIcon: "icon1.jpg",
          userName: "購入者Cさん",
          text: `
              <P>写真通りで可愛かったのです。</p>
              <p>思うより軽くって、着けられてとても良いです。</p>
              <p>違う色も欲しくなりました、1,000円は安いですよ！</p>`
        },
        {
          flag: false,
          userIcon: "icon2.jpg",
          userName: "購入者Bさん",
          text: `
              <p>
                2種類の薔薇のブーケのパーツがとても可愛くて一目惚れしました！
                普段使いもできそうなデザインなので今からつけ<br>
                るのが楽しみです。ありがとうございます！
              </p>`
        },
        {
          flag: false,
          userIcon: "icon3.jpg",
          userName: "購入者Aさん",
          text: `
              <p>
                今日届きました。とても素敵なペンダントでした。<br>
                写真の通り可愛くていろいろな服と合わせて使うことができそうです。
                ありがとうございます。
              </p>`
        },
      ]
    }
  },
  computed: {
    latest3reviews(){
      return this.reviews.slice(0, 3)
    },
    itemName(){
      return this.isSoldMode ? "Bouquet de roses" : "Bouquet de Roses"
    }
  },
  methods: {
    buyItem(){
      this.isBuyButtonClicked = true
      this.amountOfItem--
    },
    showModal(){
      this.isModalVisible = true
    },
    closeModal(){
      this.isModalVisible = false
    },
    postReview(){
      this.isPosting = true
      setTimeout(function(){
        this.isModalVisible = false

        this.reviews.unshift({
          flag: true,
          userIcon: "icon4.jpg",
          userName: "あなた",
          text: this.reviewText
        })

        this.amountOfReview++

        this.isPosting = false
        this.reviewsText = ""
      }.bind(this), 1000)
    }
  },
  watch: {
    amountOfItem(){
      if(this.amountOfItem === 0){
        this.isSoldOut = true
      }
    }
  }
}
</script>
