#modal {
  position: absolute;
  top: 0;
  left: 0;

  .overlay {
    background-color: rgba(0,0,0, .4);
    width: 100vw;
    height: 100vh;
  }

  .modalWindow {
    background-color: white;
    border-radius: 12px;
    width: 600px;
    height: 264px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .header {
      border-bottom: solid 1px #d0d0d0;
      position: relative;
      margin: 0;
      padding: 12px;
      padding-left: 24px;

      .closeIcon {
        display: inline-block;
        font-size: 24px;
        transform: rotateZ(45deg);
      }

      .headerTitle {
        font-size: 18px;
        margin-left: 18px;
      }

      .progressBar {
        background-color: #2192F5;
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 0%;
        height: 3px;
        transition: width 1s;

        &.active {
          width: 100%;
        }
      }
  
    }

    .body {
      display: flex;
      position: relative;
      margin-top: 20px;

      img {
        border-radius: 50%;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        width: 46px;
        height: 46px;
      }

      textarea {
        border: none;
        display: block;
        font-family: 游ゴシック, 'Yu Gothic', 'Arial Nova', 'Helvetica Nue', sans-serif;
        font-weight: bold;
        font-size: 16px;
        outline: none;
        margin-top: 8px;
        resize: none;
        width: calc(100% - 100px);
        height: 120px;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      padding-top: 6px;
      width: 100%;

      button {
        border: none;
        border-radius: 17px;
        background-color: #2192F5;
        color: white;
        font-size: 14px;
        font-family: 游ゴシック, 'Yu Gothic', 'Arial Nova', 'Helvetica Nue', sans-serif;
        transition: background 0.15s;
        margin-right: 20px;
        padding: 0 12px;
        height: 34px;

        &:hover {
          background-color: #1665aa;
        }
      }
    }
  }
}
