.container {
  margin: 0 auto;
  width: 70%;
}

.bread {
  font-size: 18px;
  margin: 24px 0;
  padding: 0;
}

#content {
  display: flex;
  justify-content: space-between;

  #img img {
    display: block;
    height: 523px;
    width: 587px;
  }
  #item {
    position: relative;

    h1 {
      font-size: 36px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 18px;
    }

    p {
      margin: 0px;
      padding: 0px;
    }

    .price {
      font-size: 24px;
      position: absolute;
      top: 12px;
      right: 0px;
    }

    .lead {
      color: #8d8d8d;
      font-size: 24px;
      margin-bottom: 36px;
    }

    .description {
      color: #252525;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 48px;
      width: 621px;
    }

    .favoriteCounter {
      color: #8d8d8d;
      font-size: 18px;
    }

    .left {
      font-size: 24px;
      margin: 18px 0;
    }

    .buttonGroup {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #ffffff;
        border: none;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 14px 48px;
        width: calc(50% - 18px);

        &.buy {
          background-color: #2192F5;
          color: #ffffff;
          transition: background 0.15s, transform 0.25s;
          transition-timing-function: ease-in-out;

          &:hover {
            background-color: #1665aa;

            .paypal {
              background-color: #dfdfdf;
            }
          }

          &:active {
            transform: scale(0.9);
            transition: background 0.15s, transform 0.25s;
            transition-timing-function: ease-in-out;

          }

          .text {
            position: relative;
            left: -24px;          
          }

          .paypal {
            background-color: #ffffff;
            border-radius: 7px;
            color: #252525;
            font-family: Arial;
            font-size: 8px;
            margin-right: 8px;
            padding: 6px;
          }
        }

        &.bought {
          background-color: rgba(88, 240, 74, 0.979);
        }

        &.sold {
          background-color: rgba(255, 0, 0, 0.418);
        }
      }
    }

    .writeReviewText {
      color: #2192F5;
      font-size: 14px;
      text-decoration: underline;
      margin-top: 24px;
    }
  }
}

#review {
  & > .head {
    display: flex;
    align-items: center;

    h2 {
      font-size: 36px;
      font-weight: normal;
      margin-right: 27px;
    }
  
    p {
      font-size: 18px;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;

    .card {
      background-color: #ffffff;
      border-radius: 12px;
      box-sizing: border-box;
      padding: 12px 20px 20px;
      width: 416px;
      height: 173px;

      &.ownReview {
        border: solid 3px #2192F5;
      }

      .head {
        display: flex;
        align-items: center;

        .icon {
          border-radius: 50%;
          background-color: #f0f0f0;
          display: block;
          width: 48px;
          height: 48px;
          margin-right: 14px;
        }

        .user {
          font-size: 18px;
          margin-right: auto;

          &.ownReview {
            color: #2192F5;
            text-decoration: underline;
          }
        }
        .evaluation {
          font-size: 14px;
        }


      }

      .review {
        p {
          color: #8D8D8D;
          font-size: 14px;
          line-height: 2em;
          margin: 0px;
        }
      }
    }
  }
}
